ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

#create-cours-navbar {
    .save-button,
    .cancel-button {
        background-color: #dddddd;
        color: #676767;
        p {}
    }
    .save-button {
        ion-icon {
            color: green;
        }
    }
    .cancel-button {
        ion-icon {
            color: red;
        }
    }
}